body{
    font: 15px / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #088395;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #31326F 10px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .hl, header .current a{
    color: #31326F ;
    font-weight: bold;
}

header a:hover{
    color: cadetblue;
}