/* Global Styles */

body{
    font: 15px / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}



/* Header Styles */


header{
    background: #0E2954;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #6FE6FC 10px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
    padding-left: 10px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .hl, header .current a{
    color: #6FE6FC ;
    font-weight: bold;
}

header a:hover{
    color: #77BEF0;
}


/* Showcase Styles */

#showcase{
    min-height: 400px;
    background: url('../IMG/showcase-bg-image.avif') no-repeat 0 -500px;
    color: white;
    text-align: center;
}

#showcase h1{
    margin-top: 55px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p{
    font-size: 18px;
}

/* Newsletter Styles */

#newsletter{
    padding: 15px;
    background: #0E2954;
    color: white;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 30px;
}

#newsletter input{
    padding: 4px;
    height: 25px;
}

/* Boxes Styles */

.bt1{
    color: #0E2954;
    background:#6FE6FC ;
    padding: 10px;
    border: 0;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 23%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* About Styles */

article#main-frame{
    float: center;
    width: 96%;
    background: rgb(229, 229, 229);
    padding: 20px;
    margin-top: 30px;
    border: black 1px solid;
    margin-bottom: 30px;
}

aside#sidebar{
    float: center;
    width: 96%;
    background: rgb(229, 229, 229);
    padding: 20px;
    border: black 1px solid;
}

/* Services Styles */

ul#services li{
    margin-top: 20px;
    list-style: none;
    padding: 20px;
    border: #6FE6FC;
    background: rgb(229, 229, 229);
}



/* Footer Styles */

footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #0E2954;
    text-align: center;
}